<main>
    <article class="form-container">
        <section class="mid-container">
            <article class="logo-container">
                <img src="../assets/img/logo.png" alt="logo" class="responsive">
            </article>
        </section>
        <section class="mid-container">
            <header>
                <h1 class="principal-title">Registro</h1>
            </header>
            <form>
                <input class="input" type="text" id="username" name="username" placeholder="Nombre" required />
                <input class="input" type="text" id="lastname" name="lastname" placeholder="Apellido" required />
                <input class="input" type="text" id="email" name="email" placeholder="Correo" required />
                <input class="input" type="password" id="password" name="password" placeholder="Contraseña" required />
                <input class="input" type="password" id="confirm-password" name="confirm-password"
                    placeholder="Confirmar Contraseña" required />
                <label class="terms-container"><input type="checkbox" id="cbox1" value="checkbox"> Aceptar términos
                    y condiciones</label>
                <input class="my-btn-primary" type="submit" id="ingresar" name="ingresar" value="Registrar">
                <label class="log-in">Si ya tienes cuenta ingresa <a href="#">aquí</a> </label>
            </form>
        </section>
    </article>
</main>