<div class="mx-auto container center-container">
    <div class="row">
        <div class="col-2 pb-2">
            
            <button [routerLink]="['../usuarioRegister']" class="my-btn-primary">NUEVO USUARIO</button>
        </div>

        <div class="col-12 contenedor-table">
            <table
                class="text-center table table-bordered table-responsive table-center table-hover table-striped table table-sm">
                <thead>
                    <tr>
                        <th scope="col">idUsuario</th>
                        <th scope="col">Nombre Usuario</th>
                        <th scope="col">Apellido Usuario</th>
                        <th scope="col">Correo Usuario</th>
                        <th scope="col">Estado Usuario</th>
                        <th scope="col">Fecha creacion</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="mx-auto text-center" *ngIf="loading; else tableUsuario">
                        <td colspan="7">
                            <h3>Cargando datos...</h3>
                            <span class="loader"></span>
                        </td>

                    </tr>
                    <pre>{{usuarios}}</pre>
                    <ng-template #tableUsuario>
                        <tr *ngFor="let usuario of usuarios">
                            <th scope="row">{{usuario.idusuario}}</th>
                            <td scope="row">{{usuario.nombre_usuario}}</td>
                            <td scope="row">{{usuario.apellido_usuario}}</td>
                            <td scope="row">{{usuario.correo_usuario}}</td>
                            <td scope="row"
                                [ngClass]="{'bg-success':usuario.estado_usuario,'bg-danger':!usuario.estado_usuario}">
                                {{usuario.estado_usuario?'Activo':'Inactivo'}}</td>
                            <td scope="row">{{usuario.fecha_creacion}}</td>
                            <td scope="row"><button class="btn btn-danger" (click)="deleteUsuario(usuario.idusuario)">ELIMINAR</button></td>
                        </tr>
                    </ng-template>

                </tbody>
            </table>
            <span *ngIf="usuarios.length<=1; else showThis"></span>
            <ng-template #showThis>      
                <span>Numero de usuarios:{{usuarios.length}}</span>
            </ng-template>
            
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li id="btnAtras" class="page-item disabled">
                <a (click)="atras()" class="page-link" tabindex="-1">Atras</a>
            </li>
            <!-- <li class="page-item" *ngFor='let item of [].constructor(itemsPaginado); let i = index'><a class="page-link" href="#">{{i+1}}</a></li> -->
            <li id="btnSiguiente" class="page-item">
                <a (click)="siguiente()" class="page-link" tabindex="1">Siguiente</a>
            </li>
        </ul>
    </nav>

</div>