<div class="mapouter">
    <div class="gmap_canvas"><iframe  id="gmap_canvas"
            src="https://maps.google.com/maps?q=Armenia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 100vh;
                width: 100vw;
                overflow: hidden
            }
            
            iframe{
                height:100vh;
                width: 100vw;
            }
        </style>
    </div>
</div>